body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url('../images/binary-thumb.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


#divContenitore{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
} 

#divPrimario{
    background-color: #025e53;
    color: white;
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header{
    color: white;
    background-color: #025e53;
    width: 100%;
    height: 20%;
    border: solid;
    border-color: #025e53;
    border-bottom-color: #00d0b1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.immagineDiTesta{
    width: 20%;
    height: auto;
}

#paragrafoIntro{
    text-align: center;
    font-size: large;
}
